.menu ul{
    list-style: none;
    margin: 0;
    background-color: #e3e3e3;
    display: flex;

}

.menu ul li{
    list-style-image: none;
    float: left;
    padding: 12px;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
}

.container {
    padding: 24px;
    text-align: center
}

:local(.sectionWrappperOne){
    background-color: #fff;
}

:local(.sectionWrappperTwo){
    background-color: #edf2f5;
}

:local(.sectionWrappperThree){
    background-color: #f7f7f7;
}

:local(.menuWrapper span:nth-child(2)) {
    color: #82d0e4;
    font-weight: 600;
    
}

:local(.menuWrapper ul) {
    padding: 0;
    margin: 0;
}

:local(.menuWrapper li) {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(210, 210, 210, 0.31);
}

:local(.menuWrapper p) {
    color: #5d98e7;
    font-weight: 700;
    margin-bottom: 6px;

}

:local(.filterWrapper) {
    display: flex;
    background: #edf2f5;
    border-bottom: 1px solid #1714141c;
}

:local(.sortingWrapper){
    flex: 1;
    padding: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
    position: relative;
}

:local(.sortMenu) {
    position: absolute;
    min-width: 200px;
    background-color: #fff;
    right: 3px;
    top: 58px;
    box-shadow: 0 4px 15px 0 rgba(7,42,68,.1);
    display: none;
}

:local(.sortingWrapper:hover .sortMenu){
    display: initial;
}

:local(.sortMenu ul) {
    list-style: none;
    margin: 0;
    padding: 0;
}

:local(.sortMenu li) {
    padding: 8px 12px;
    border-bottom: 1px solid rgba(214, 214, 214, 0.42);
    font-size: 14px;
}

:local(.sortMenu li:hover) {
    background-color: rgba(183, 177, 177, 0.12);;
    color: #000;
}

:local(.noData) {
    font-size: 18px;
    text-align: center;
    margin-top: 48px;
    font-weight: 700;
}